#info {
  width: 50%;
  margin-left: 20px;
}

#aboutImg {
  width: 50%;
}

/* #aboutImgDiv {
  width: 50%;
  float: right;
} */

.projectNames {
  color: black;
}

#ffImg {
  float: right;
  margin-top: 20px;
}

#hrAppImg {
  float: right;
  height: 100px;
  margin-top: 20px;
}

/* #projectBoxRight {
  width: 40%;
  float: right;
}
#projectBox {
  width: 40%;
} */
